# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Database
*.db

# Dataset and test images
dataset/
23_test/

# Trained models
*.pkl
train_status.json
trained_students.json

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db